@mixin svgAsBackground( $url, $color ) {
	background-color: $color;
	background-repeat: no-repeat;
	-webkit-mask-image: #{url($url)};
	mask-image: #{url($url)};
}

.reverb-notification-page {
	padding: 10px 0;
	display: flex;
	align-items: flex-start;

	&-left {
		border: 1px solid var(--theme-border-color);
		border-radius: 3px;
		width: 300px;
		padding: 18px;
	}

	&-right {
		flex: 1;
		margin-left: 24px;
	}

	&-notifications {
		margin-top: 18px;
	}
}

.reverb-filter {
	&-title {
		margin-bottom: 6px;
		font-weight: 800;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-icon {
		width: 18px;
		height: 18px;
		@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-controls-small.svg', currentColor);
	}

	&-row {
		padding: 12px 0;
		line-height: 1;
		border-bottom: 1px solid var(--theme-border-color);
	}

	&-label {
		display: flex;
		align-items: center;
	}

	&-checkbox {
		display: none;

		&:checked + .reverb-filter-label .reverb-filter-checkbox--unchecked {
			display: none;
		}

		&:not(:checked) + .reverb-filter-label .reverb-filter-checkbox--checked {
			display: none;
		}
	}

	&-checkbox--unchecked,
	&-checkbox--checked {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin-right: 12px;
	}

	&-checkbox--unchecked {
		@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-checkbox-empty-small.svg', currentColor);
	}

	&-checkbox--checked {
		@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-checkbox-small.svg', var(--theme-link-color));
	}
}

.reverb-button-bar {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid var(--theme-border-color);

	.wds-button {
		text-transform: none;
		padding-right: 0;
		text-align: right;
	}

	.wds-tabs {
		flex-wrap: wrap;
	}

	.wds-button, .wds-tabs__tab {
		cursor: pointer;
	}

	.wds-tabs__tab-label {
		display: grid;
	}
}

.reverb-npn-row {
	display: grid;
	grid-template-columns: auto 1fr;
	border-bottom: 1px solid var(--theme-border-color);
	padding: 12px;

	&-unread {
		background: rgba(var(--theme-accent-color--rgb), 0.1);
	}

	&:last-child {
		border-bottom: 0;
	}
}

.reverb-npnr-hitbox {
	float: right;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.reverb-npnrc {
	float: right;
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 25px;

	&.reverb-npnr-unread {
		background-color: var(--theme-accent-color);
	}

	&.reverb-npnr-read {
		border: 1px solid var(--theme-border-color);
	}
}

.reverb-npnr-header {
	font-weight: 500;
}

.reverb-npnr-bottom {
	font-size: 12px;
	margin-top: 9px;
}

////////////////////
// pagination
////////////////////

.simple-pagination {
	margin: 18px 0;

	ul {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	li {
		list-style: none;
		font-size: 16px;
		font-weight: 800;
		line-height: 30px;
		letter-spacing: 0.25px;
		width: 30px;
		height: 30px;
		margin: 0 6px;
		border-radius: 3px;
		text-align: center;

		&.active {
			background-color: var(--theme-accent-color);
			color: var(--theme-accent-label-color);
		}

		&.disabled {
			opacity: 0.5;
		}

		&:first-child, &:last-child {
			width: auto;
		}

		.page-link {
			color: var(--theme-page-text-color);
		}
	}
}

.ellipse {
	&.clickable {
		cursor: pointer;
	}
	input {
		width: 3em;
	}
}

.reverb-icon {
	width: 18px;
	min-width: 18px;
	height: 18px;
	margin: 6px 18px 0 6px;
	display: block;
	background-repeat: no-repeat;
}

.fa-user, .fa-user-circle {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-user-small.svg', currentColor);
}
.fa-user-cog {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-gear-small.svg', currentColor);
}
.fa-users {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-users-small.svg', currentColor);
}
.fa-file {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-page-small.svg', currentColor);
}
.fa-edit {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-pencil-small.svg', currentColor);
}
.fa-history {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-clock-small.svg', currentColor);
}
.fa-thumbs-up {
	@include svgAsBackground('/resources-ucp/dist/svg/wds-icons-heart-small.svg', currentColor);
}
