.reverb-notification-page {
	padding: 10px 0;
	display: flex;
	justify-content: flex-start;

	&-left {
		width: 300px;
		border: solid 1px #bed1cf;
	}

	&-right {
		flex: 1;
		margin-left: 20px;
	}
}

.reverb-icon {
	width: 24px;
	height: 24px;
	position: relative;
	top: 5px;
	left: 5px;
	color: #36c;
}

.reverb-npn-row {
	padding: 0 0 10px 0;
	display: flex;
	justify-content: flex-start;

	&-unread {
		background: #393939;
	}

	&:last-child.reverb-npnr-right {
		border: 0;
	}
}

.reverb-npnr-left {
	padding: 10px 15px 0 5px;
}

.reverb-npnr-right {
	flex: 1;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #4f4f4f;
}

.reverb-npnr-unread {
	background-color: #f37f20;
}

.reverb-npnr-read {
	background-color: #303030;
}

.reverb-npnr-hitbox {
	float: right;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.reverb-npnrc {
	float: right;
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 25px;
}

.reverb-npnr-header {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;

	a:hover,
	a:link,
	a:active,
	a:visited {
		color: #f37f20;
	}
}

.reverb-npnr-body {
	margin-top: 10px;
	padding: 3px 0;
	opacity: 0.75;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
}

.reverb-npnr-bottom {
	margin-top: 10px;
	width: 100%;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.reverb-npnrb-site {
	font-weight: normal;
	font-size: 12px;
	color: #d9d9d9;

	a:link,
	a:active,
	a:visited {
		color: #d9d9d9;
	}
}

.reverb-filter-title {
	margin: 20px 10px;
	height: 18px;
	font-family: Rubik, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.13;
	letter-spacing: normal;
}

.reverb-filter-row {
	margin: 0px 10px;
	padding: 10px 0px;
	font-family: Rubik, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: normal;
	border-bottom: 1px solid #4f4f4f;
}

input[type='checkbox'].reverb-filter-checkbox {
	position: absolute;
	z-index: -1000;
	left: -1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;

	+ label.reverb-filter-label {
		padding-left: 21px;
		height: 16px;
		display: inline-block;
		line-height: 16px;
		background-repeat: no-repeat;
		background-position: 0 0;
		font-size: 16px;
		cursor: pointer;
	}

	&:checked + label.reverb-filter-label {
		background-position: 0 -16px;
	}
}

label.reverb-filter-label {
	background-image: url(../images/checkbox.png);
	user-select: none;
	width: 260px;
	margin: 0;
}

.reverb-button-bar {
	padding: 0 0 20px 0;
	border-bottom: 1px solid #fff;

	button {
		border-radius: 2px;
		border: solid 1px #f37f20;
		background-color: #000000;
		color: #ffffff;
		padding: 10px;
		margin-left: -5px; /* Dumb way to bump them all together. Roll Tide */
		font-size: 14px;
		font-family: Helveta, sans-serif;
		font-weight: bold;
		cursor: pointer;

		&:hover,
		&.reverb-selected {
			color: #f37f20;
		}
	}
}

button.reverb-active-button {
	color: #f37f20;
}

.reverb-npp-bottom {
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #4f4f4f;
}

.reverb-npp-top {
	padding: 15px 0px 10px 0px;
	border-bottom: 1px solid #4f4f4f;
}

.simple-pagination {
	display: block;
	overflow: hidden;
	margin: 0;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		float: left;
	}
}

.ellipse {
	&.clickable {
		cursor: pointer;
	}
	input {
		width: 3em;
	}
}
