.reverb-notification-page {
	padding: 10px 0;
	display: flex;
	align-items: flex-start;

	&-left {
		border: 1px solid var(--theme-border-color);
		border-radius: 3px;
		width: 300px;
		padding: 18px;
	}

	&-right {
		flex: 1;
		margin-left: 24px;
	}

	&-notifications {
		margin-top: 18px;
	}
}

.reverb-filter {
	&-title {
		margin-bottom: 6px;
		font-weight: 800;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-row {
		padding: 12px 0;
		line-height: 1;
		border-bottom: 1px solid var(--theme-border-color);
	}

	&-label {
		display: flex;
		align-items: center;
	}

	&-checkbox {
		display: none;

		&:checked + .reverb-filter-label .reverb-filter-checkbox--unchecked {
			display: none;
		}

		&:not(:checked) + .reverb-filter-label .reverb-filter-checkbox--checked {
			display: none;
		}
	}

	&-checkbox--unchecked,
	&-checkbox--checked {
		margin-right: 12px;
	}

	&-checkbox--checked {
		fill: var(--theme-link-color);
	}
}

.reverb-button-bar {
	display: flex;
	justify-content: space-between;

	.wds-button {
		text-transform: none;
	}

	.wds-button, .wds-tabs__tab {
		cursor: pointer;
	}

	.wds-tabs__tab-label {
		display: grid;
	}
}

.reverb-icon {
	width: 24px;
	height: 24px;
	position: relative;
	top: 5px;
	left: 5px;
	color: #36c;
}

.reverb-npn-row {
	display: grid;
	grid-template-columns: auto 1fr;
	border-bottom: 1px solid var(--theme-border-color);
	padding: 12px;

	&-unread {
		background: rgba(var(--theme-accent-color--rgb), 0.1);
	}

	&:last-child {
		border-bottom: 0;
	}
}

.reverb-npnr-hitbox {
	float: right;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
}

.reverb-npnrc {
	float: right;
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	border-radius: 25px;

	&.reverb-npnr-unread {
		background-color: var(--theme-accent-color);
	}

	&.reverb-npnr-read {
		border: 1px solid var(--theme-border-color);
	}
}

.reverb-npnr-header {
	font-weight: 500;
}

.reverb-npnr-bottom {
	font-size: 12px;
	margin-top: 9px;
}

////////////////////
// pagination
////////////////////

.simple-pagination {
	display: block;
	overflow: hidden;
	margin: 0;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		list-style: none;
		padding: 0;
		margin: 0;
		float: left;
	}
}

.ellipse {
	&.clickable {
		cursor: pointer;
	}
	input {
		width: 3em;
	}
}
