<div class="reverb-np">
    <div class="reverb-np-header">
        <span class="reverb-nph-right"><a href="/Special:Notifications">View All <i class="fa fa-arrow-right"></i></a></span>
        <span class="reverb-nph-notifications">Notifications (<span class="reverb-total-notifications">0</span>)</span>
        <span class="reverb-nph-preferences"><i class="fa fa-cog"></i></span>
    </div>

    {% if globalNotifications %}

    <div class="reverb-npn-row reverb-npn-row-global">
        <div class="reverb-npnr-left">
            <img src="/extensions/Reverb/resources/icons/global.svg" class="reverb-icon reverb-icon-global">
        </div>
        <div class="reverb-npnr-right">
            <div class="reverb-npnr-header">
                3 unread notifications from other wikis. <i class="fa fa-chevron-down"></i>
                <span class="reverb-npnr-unread reverb-npnr-unread-global"></span>
            </div>
        </div>
    </div>
    
    {% endif %}

    <div class="reverb-npn">
        <div class="reverb-np-no-unread">No Unread Notifications</div>
    </div>
</div>